html {
	background-image: linear-gradient(45deg, #fff, #ccc);
	min-height: 100%;
}

a {
	color: #55b;
	background: #000;
	display: block;
	width: 200px;
	padding: 10px;
	text-decoration: none;
}

a:hover {
	background: #993300;
	color: #fff;
	transition: all 2s 0s ease-in, color 0.5s;
}

div {
	width: 100px;
	height: 50px;
	background: #ccc;
	position: absolute;
	top: 200px;
}

#div1 {
	background: #3b3;
	left: 100px;
}

#div2 {
	background: #b33;
	left: 300px;
}

#div3 {
	background: #33b;
	left: 500px;
}

#div4 {
	background: #49f;
	left: 700;
}

@keyframes zoom {
	form {
		transform: scale3d(1);
	}
	to {
		transform: scale3d(3);
	}
}

#div1:hover {
	animation: zoom;
}