html {
	background-image: linear-gradient(45deg, #fff, #ccc);
	min-height: 100%;
}

a {
	color: #55b;
	background: #000;
	display: block;
	width: 200px;
	padding: 10px;
	text-decoration: none;
}

a:hover {
	background: #993300;
	color: #fff;
	transition: all 2s 0s ease-in, color 0.5s;
}

div {
	width: 100px;
	height: 50px;
	background: #ccc;
	position: absolute;
	top: 200px;
}

#div1 {
	background: #3b3;
	left: 100px;
}

#div2 {
	background: #b33;
	left: 300px;
}

#div3 {
	background: #33b;
	left: 500px;
}

#div4 {
	background: #49f;
	left: 700;
}

@keyframes zoom {
	from 	{ transform: scale(1); }
	to 		{ transform: scale(3); }
}

@keyframes fondu {
	from 	{ opacity: 1; }
	to 		{ opacity: 0; }
}

@keyframes colorier {
	from 	{ background-color: #c33; }
	99% 	{ background-color: #000; }
	to 		{ background-color: #33c; }
}

@keyframes move {
	from 	{ margin-left: 0; }
	to 		{ margin-left: 200px; }
}


#div1:hover {
	animation-name: zoom;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

#div2:hover {
	animation-name: colorier ;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

#div3:active {
	animation-name: move;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

#div4 p:hover {
	animation-name: fondu;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	text-align: right;
}

#fdp {
	position: absolute;
	top: 50%;
	left: 50%;
}

@keyframe FDP {
	0% {
		top: 0;
		background-color: #fff;
		transform: scale3d(0,0,0);
	}
	100% {
		top: 100%;
		background-color: #000;
		transform: scale3d(50,10,20);  
	}
}

#div4:active {
	animation-name: fondu;
	animation-direction: 3s;
	animation-timing-function: ease;
}

#fdp:checked {
	animation-name: FDP;
	animation-direction: 3s;
	animation-timing-function: ease;
}